.canvas {
    box-shadow: 0 0 0.2em 0 black;
    overflow: hidden;
    position: relative;
}
.canvasItem {
    position: absolute;
    z-index: 1;
    min-width: 3em;
    min-height: 3em;
}
.currentlyDraggedCanvasItem {}
.media {
    display: block;
}
.catchMouseEventOverlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.canvasItem:hover > .iconContainer, .canvasItem.currentlyDraggedCanvasItem > .iconContainer {
    opacity: 1;
}
.iconContainer {
    background-color: whitesmoke;
    position: absolute;
    opacity: 0;
}
.serviceIcon {
    background-color: whitesmoke;
    width: min(0.9em, 30%);
    z-index: 2;
    padding: 0.1em;
}
.serviceIcon:hover {
    filter: brightness(90%);
}
.resizeIcon {
    right: 0;
    bottom: 0;
    cursor: nw-resize;
    border-top-left-radius: 0.25em;
}
.moveIcon {
    left: 0;
    top: 0;
    cursor: move;
    border-bottom-right-radius: 0.25em;
}
.secondaryIconsContainer {
    top: 0;
    right: 0;
    background: transparent;
    overflow: hidden;
    border-bottom-left-radius: 0.25em;
}
.deleteIcon {
    cursor: pointer;
}
.layerIconUp {
    cursor: pointer;
    transform: rotate(-90deg);
}
.layerIconDown {
    cursor: pointer;
    transform: rotate(90deg);
}