.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}
.gap1 {
    gap: 0.25em;
}
.gap2 {
    gap: 0.5em;
}
.childrenCanGrow > * {
    flex-grow: 1;
}