.home {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: auto;
}
.request {
    white-space: break-spaces;
}